{% if materials %}
<style>
.relmat li {overflow: hidden;margin-bottom: 3px!important;}
.relmat li img {width: 70px;height: 70px;margin: 0 5px;border: 1px solid #BBB;float: left;}
.relmat li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    o-text-overflow: ellipsis;
    padding-left: 0!important;
}
</style>
<div class="material">
           <div class="inftitle">Похожие материалы</div>
	       <div class="infcont"><ul class="relmat">
		   {% for material in materials %}
		       <li>
			        {% if material.atom.img %}
					<img alt="{{ material.title }}" src="{{ material.atom.img }}"/>
					{% else %}
					<img alt="{{ material.title }}" src="/data/img/noimage.png"/>
					{% endif %}
					<a href="{{ material.atom.url }}">{{ material.title }}</a>
					<br><span>Просмотров: {{ material.views }}</span>
					<br><span>Комментариев: {{ material.comments }}</span>
			   </li>
		   {% endfor %}
		   </ul></div>
</div>
{% endif %}